<div class="flex-grow-0" style="height: 100px;"></div>
<div class="container-fluid gx-0">
    <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-0 border-top text-bg-dark">
      <div class="col-md-4 d-flex align-items-center justify-content-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Bootstrap">
          
        </a>
        <span class="mb-3 mb-md-0">© Book Notes, 2025 Cosmin Ciocan</span>
      </div>
    </footer>
  </div>
</body>
</html>