footer {
  width: 100%;
}

.edit {
  box-sizing: 50%;
  height: 50%;
}

/* input[type="text"] {
  text-align: left;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 80%;
} */
